* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
button {
  width: fit-content;
  padding: 12px 35px;
  border-radius: 6px;
  background-color: rgb(20, 186, 20);
  color: white;
}
button:hover {
  cursor: pointer;
}
.form-group,
.gender-group {
  margin-top: 35px;
  display: flex;
  justify-self: center;
  align-items: center;
  position: relative;
}
.form-group input {
  width: 300px;
  height: 40px;
  border-radius: 5px;
}

.form-group label,
.gender-group > label {
  display: block;
  width: 140px;
}
.checkbox p {
  padding: 50px 0 20px 0;
}
.checkbox {
  padding-bottom: 20px;
  position: relative;
}
label.error {
  position: absolute;
  color: red;
  left: 105%;
}
