* {
  box-sizing: border-box;
}
.green-bg {
  background-color: green;
}
.grey-bg {
  background-color: grey;
}
.btn-rds {
  border-radius: 3px;
}
.blue-bg {
  background-color: rgb(76, 76, 255);
}
.white-font {
  color: white;
}
.grey-font {
  color: rgb(74, 73, 73);
}
input[type="text"],
input[type="tel"],
input[type="email"],
select {
  width: 98%;
  border-radius: 3px;
  border: 1px solid rgb(165, 165, 165);
  height: 28px;
}
input[type="radio"] {
  margin: 0;
  padding: 0;
}
.mg-r-20 {
  margin-right: 20px;
}
.sex-select > label {
  padding-left: 6px;
}
.gap-label {
  margin-top: 20px;
  margin-bottom: 6px;
}
select:focus {
  border: 4px solid rgb(125, 125, 234);
}
button {
  padding: 12px;
  border: none;
}
.save-btn {
  margin-right: 10px;
}
.cancel-btn {
  margin-right: 10px;
}
.line::after {
  content: "";
  display: block;
  border: 1px solid rgba(210, 209, 209, 0.424);
  margin-top: 15px;
  margin-bottom: 15px;
}
.pd-20 {
  padding: 20px;
}
.pd-10 {
  padding: 10px;
}
.font-bold {
  font-weight: bold;
}
.font-20 {
  font-size: 20px;
}
.blue-bd {
  border: 1px solid blue;
}
.pd-b-10 {
  padding-bottom: 10px;
}
