* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
button {
  width: 100px;
  height: 40px;
  color: white;
  border-radius: 6px;
  background-color: rgb(33, 199, 33);
}
button:hover {
  background-color: green;
  cursor: pointer;
}
img {
  height: 500px;
  padding: 20px;
  display: block;
}
.d-none {
  opacity: 0;
}
#greeting {
  width: 400px;
}
.black-mode {
  color: white;
  background-color: rgba(0, 0, 0, 0.757);
  height: 100vh;
}
