* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  height: 100vh;
}
main {
  flex: 1;
}
img {
  width: 100%;
  display: block;
}

.header-bd {
  border: 3px solid orange;
}
.main-bd {
  border: 3px solid rgb(230, 70, 192);
}
.section1-bd {
  border: 1px solid rgb(241, 122, 227);
}
.section1-bd {
  border: 1px solid rgb(255, 192, 246);
}
.footer-bd {
  border: 3px solid rgb(252, 218, 156);
}
.section1 {
  width: 70%;
}
.section2 {
  width: 30%;
}
li {
  list-style: none;
}
ul {
  width: 150px;
  padding: 0;
  padding-top: 5px;
  padding-bottom: 5px;
}
.text-center {
  text-align: center;
}
footer {
  background-color: black;
}
.pd-20 {
  padding: 20px;
}
.pd-10 {
  padding: 10px;
}
.pd-5 {
  padding: 5px;
}
.pb-40 {
  padding-bottom: 40px;
}
.gap-40 {
  gap: 40px;
}
.section2-bg {
  background-color: rgb(159, 255, 255);
}
.w-mini img {
  width: 100%;
  height: 120px;
  border-radius: 5px;
}
.gap-20 {
  gap: 20px;
}
.w-mini {
  width: 30%;
}
.main-photo {
  height: 55vh;
}
.mini-photo img {
  height: 25vh;
}

.header-content span,
.highlight {
  font-size: 25px;
}
.header img,
.header-content {
  grid-area: 1 / 1; /* Chồng lên nhau tại ô đầu tiên */
}
.header img {
  inset: 0;
  width: 100%;
  height: 100%;
}
.header-content {
  z-index: 1;
}
.yellow-color {
  color: yellow;
}
.green-color {
  color: green;
}
.grey-color {
  color: grey;
}
.yellow-bg {
  background-color: yellow;
}
.white-color {
  color: white;
}
.bd-rd-5 {
  border-radius: 5px;
}
.form-bg {
  background-color: rgba(0, 0, 0, 0.555);
}
.main-photo,
.form-content {
  grid-area: 1/1;
}
form {
  width: fit-content;
  padding: 50px 100px;
}
.greeting {
  font-size: 30px;
  font-weight: bold;
}
.tittle {
  padding-top: 12px;
}
button:hover {
  background-color: rgb(208, 208, 24);
  border: 2px solid red;
}
.header-title {
  font-family: "Akaya Kanadaka", system-ui;
  font-weight: 400;
  font-style: normal;
}
